<div id="header">
	<div style="font-size:24px;">
		<form class="form-inline">
			<div class="input-group">
				<span class="input-group-btn">
			    	<div class="btn-group">
						<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
							<i class="fa fa-cog"></i>
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							{{#if is1080p}}<li><a tabindex="-1" {{action "changeSrc" file.file.hd1080p.url target="view"}}>1080p</a></li>{{/if}}
							{{#if is720p}}<li><a tabindex="-1" {{action "changeSrc" file.file.hd720p.url target="view"}} href="#">720p</a></li>{{/if}}
							<li><a tabindex="-1" {{action "changeSrc" file.file.sd.url target="view"}}>360p</a></li>
							<li class="divider"></li>
							<li><a tabindex="-1" {{action "large" target="view"}}>Large</a></li>
							<li><a tabindex="-1" {{action "small" target="view"}}>Small</a></li>
						</ul>
					</div>
				</span>
				<input type="text" id="name" style="width:250px;" class="form-control input-md" {{bindAttr value="name"}}/>
			</div>
		</form>
		<span style="font-size:15px;">
			by {{#link-to "channel" channel}}
				{{channel.name}}
			{{/link-to}}
			{{#if game}}
    			playing
    			{{#link-to game game}}
    				{{game.title}}
    			{{/link-to}}
    		{{/if}}
		</span>
		<span style="font-size:12px;">
		    {{views}} <i class="fa fa-eye"></i>
		    </span>
	</div>
</div>
<div class="buttons">		
	<button {{action "addButton" "primary" target="view"}} class="btn btn-primary">Add Me</button>
	<button {{action "addButton" "default" target="view"}} class="btn btn-default">Add Me</button>
</div>
<video {{bindAttr id="id"}} controls class="video-js vjs-default-skin " preload="none" width="640" height="360" {{bindAttr poster=file.file.poster.url}}>
		{{#if is1080p}}<source {{bindAttr src=file.file.hd1080p.url}} type="video/mp4"/>{{/if}}
		{{#if is720p}}<source {{bindAttr src=file.file.hd720p.url}} type="video/mp4"/>{{/if}}
		{{#unless is720p}}<source {{bindAttr src=file.file.sd.url}} type="video/mp4"/>{{/unless}}
</video>
<div class=""></div>
{{view Ember.TextArea class="wysihtml5" id="description" valueBinding="description"}}</br>
<button class="btn btn-primary" {{action "save" target="view"}}>Save</button>
