<div id="header">
	<div style="font-size:24px;">
		<form class="form-inline">
			<div class="input-group">
				<span class="input-group-btn">
			    	<div class="btn-group">
						<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
							<i class="fa fa-cog"></i>
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a tabindex="-1" {{action "large" target="view"}}>Large</a></li>
							<li><a tabindex="-1" {{action "small" target="view"}}>Small</a></li>
						</ul>
					</div>
				</span>
				{{input type="text" id="name" class="form-control" name="name" value=name}}
			</div>
		</form>
		<span style="font-size:15px;">
			by {{#link-to "channel" channel}}
				{{channel.name}}
			{{/link-to}}
			{{#if game}}
    			playing
    			{{#link-to game game}}
    				{{game.title}}
    			{{/link-to}}
    		{{/if}}
		</span>
		<span style="font-size:12px;">
		    {{views}} <i class="fa fa-eye"></i>
		    </span>
	</div>
</div>
<div class="buttons">
	<button {{action "addButton" "primary" target="view"}} class="btn btn-primary">Add Me</button>
	<button {{action "addButton" "default" target="view"}} class="btn btn-default">Add Me</button>
</div>
<video {{bind-attr id="id"}} controls class="video-js vjs-default-skin " preload="none" width="640" height="360" {{bind-attr poster=file.file.poster.url}}>
		{{#if is1080p}}<source {{bind-attr src=file.file.hd1080p.url}} type="video/mp4"/>{{/if}}
		{{#if is720p}}<source {{bind-attr src=file.file.hd720p.url}} type="video/mp4"/>{{/if}}
		{{#unless is720p}}<source {{bind-attr src=file.file.sd.url}} type="video/mp4"/>{{/unless}}
</video>
{{wysiwyg-editor content=description}}
<div class='form-group'>
	<label for='tag'>Tags</label>
	<select  id='tag' style="width:100%;" multiple class='uploadFormElement' name='tags'>
		{{#each tag in view.tags}}
			<option {{bind-attr value="tag.id"}}>{{tag.name}}</option>
		{{/each}}
	</select>
</div>
<button class="btn btn-primary" {{action "save"}}>Save</button>
